@page
@model JoystickJury.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].StarRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Dislikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dislikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
